.App {
  background-color: rgb(245, 245, 245);
}
.contents {
  display: flex;
  width: 100%;
}
.sidebar_box {
  width: 12vw;
  min-height: 100vh;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.title_top {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  padding: 0;
  margin: 0;
}
.active_title {
  padding: 0 5px;
  margin: 0;
  color: var(--black-40, rgba(28, 28, 28, 0.4));
}
.deactive_title {
  padding: 0;
  margin: 0;
  color: var(--black-20, rgba(28, 28, 28, 0.2));
}
.title_body {
  color: (28, 28, 28, 1);
}
li::marker {
  list-style: rgba(175, 175, 175, 0.2);
}

.icon {
  font-size: 22px;
  padding: 0px 5px;
  font-weight: 500;
}
.menu_icon_item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  text-align: left;
  color: hsla(0, 0%, 11%, 1);
  text-decoration: none;
}
.header_block {
  width: 67vw;
  height: 70px;
  border-bottom: 1px solid rgba(28, 28, 28, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 {
  display: flex;
}
.breadcrumb {
  display: flex;
  padding: 15px;
}
.bc_title {
  padding: 0 5px;
  margin: 0;
  color: rgba(28, 28, 28, 1);
}
.section2 {
  display: flex;
  align-items: center;
}
.search_box {
  display: flex;
  align-items: center;
  color: gray;
  height: 30px;
  border-radius: 8px;
  padding: 0px 5px;
  background-color: rgba(28, 28, 28, 0.05);
}
.search_box > input {
  background-color: transparent;
  border: none;
  outline: none;
}
.notification_panel {
  width: 15vw;
  padding: 10px;
  min-height: 100vh;
  border-left: 1px solid rgba(28, 28, 28, 0.1);
}
.noti_heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
.noti_box {
  display: flex;
  padding: 15px 0px;
}
.icon_box {
  display: flex;
  align-items: start;
}
.noti_icon {
  margin-right: 10px;
  background-color: rgba(227, 245, 255, 1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
}
.noti_text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: rgba(28, 28, 28, 1);
}
.noti_time {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgba(28, 28, 28, 0.4);
}
.dashboard_box_container {
  margin-top: 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
.dashboard_box_yellow {
  background-color: rgba(249, 254, 240, 1);
  width: 160px;
  padding: 30px;
  border-radius: 16px;
}
.dashboard_box {
  background-color: rgba(219, 230, 242, 1);
  width: 160px;
  padding: 30px;
  border-radius: 16px;
}
.box_text_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin: 0;
}
.box_text1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  margin: 0;
}
.box_text2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0;
}
.line_charts {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.line_chart_boxes {
  height: 350px;
  width: 50%;
  margin-bottom: 40px;
}
.chart_title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
/* App.css */

.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  width: 500px;
}

.demo-description {
  font-size: 16px;
  width: 500px;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
 -color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#table thead {
  background-color: #f1f1f1;
}

#table th, #table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#table th {
  font-weight: bold;
}

#table tr:hover {
  background-color: #f5f5f5;
}
.form_container
{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  flex-direction: column;
  align-items: center;
}
.form_block
{
  width: 55%;
  padding: 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(220, 220, 220);
}
.input_block
{
  width: 100%;
  margin: 20px 0px;
}
.form_input
{
  width: 100%;
}
.submit_button
{
  outline: none;
  color: gray;
  box-shadow: 1px 2px 8px 0px rgb(154, 154, 154);
 padding: 10px 50px;
 border-radius: 10px;
 margin-top: 20px;
 cursor: pointer;
}